/*  Student Name: Lanee Matthews
    File Name: styles.css
    Date: 10/1/22
*/

#css1, #css2, #css3
{
    width: 40%;
    float: left: clear;
    padding: 0 1%;
}

/* CSS Style Rules for footer */
footer {
    text-align: center;
    font-size: 0.85em;
    color: #47476b;
    padding: 1% 0;
    border-top: 3px solid #47476b;
}

/* CSS Style Rules for body content */
body {
    padding 2%;
    background-color: #d1d1e0;
}

/* CSS Style Rules for main content */
main {
    padding: 2%;
    font-family: Geneva, Arial, sans-serif;
}

/* CSS Style Rules for header content */
header
  h1 {
    font-size: 3em;
    font-family: Georgia, Times, serif;
    padding: 3%;
    color: #47476b;
}


/* CSS Style Rules for nav content */
nav {
    background-color: #47476b;
    }

nav ul { margin: 0;}

nav li inline
{
    display: block;
    font-size: 1.5em;
    font-family: Verdana, Arial, sans-serif;
    font-weight: bold;
    }


nav li a
{
  display: block;
  color: #e3eaf8;
  padding: 0.5em 2em;
}


/* CSS Style Rules for main content */

main p {
    font-color: #47476b
/* CSS Style Rules for Anchor */
  font-weight: bold;
  font-size: 1.25em;
  font-style: italic;
    overflow: auto;
}

main h3 {
    padding-top: 2%;
    font-size: 2em;
}
